body{
    
font-family: 'Raleway', sans-serif;
    
/* background-color: grey; */
 background-image:linear-gradient(180deg, #000 0%, #CCC 80%);
margin: 0;
}

.page{
    width:100%;
    max-width: 1000px;
    margin: 5% auto;
    height: auto;
}
.page > p {
    margin-left: 5px;
    margin-bottom: 3px;
    border-bottom: 3px solid black
}

.topheader {
    float: left;
    width: 100%;
    height: 30px;
}

.topheader p{
    text-align: right;
    margin: 0%;
    margin: 0 10px 0 0;
    line-height: 30px;
}

.topheader p a{
    color: mediumaquamarine;
    text-decoration: none;
}

.topheader p a:hover{
    color: #F7FF3C;
}

.logo{
    float: left;
    width:15%;
    
    
}
.logo img{
    height:112px;
    margin-left: 10px;
}

nav {
    width:72%;
    height: 100%;
    float:left;
}

header{
    width:100%;
    height:113px;
    float:left;
   
    
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    /* margin-top: 30px; */
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 105px;
    color: white;
    /* font-weight: bold; */
}

nav ul li a:hover,
nav ul li.current a {
    color: #F7FF3C;
}

.long{
    
    width:100%;
    height:10%;
    float: left;
    
    
}

.long img {
    width: 100%; 
    height: 560px;
    object-fit: cover;
    object-position: 0px -161px;
    
}

section{
    margin-top: -4px;
    /* max-height:376px; */
    float: left;
    margin-left: 7px;
    width: 100%;
}

.page section aside  {
    width: 50%;
    float: left;
}
.page section aside img{
    max-width: 100%;
    height: 376px;
    width: 100%;
    object-fit: cover;
    padding: 14px;
}


.page section article  {
    float: left;
    width:calc(50% - 20px);
    text-align: justify;
    padding-top: 40px;
    /* background-color: black; */
    /* height:100%; */
}
.page section article p{
    
/* margin:13px; */
    
color:#F7FF3C;
    
font-size: 15px;
    
/* max-width: 100%; */
    
/* width:81%; */
    
/* height: 350px; */
    
margin-left: 0px;
    
padding: 2% 7%;
    

}

.partenaires{
    float: left;
    width: 100%;
    /* height:145px; */
    text-align: center;
    margin-bottom: 70px;
}

.page .partenaires img{
    /* float: left; */
    /* width:calc( (100% / 4) - 7px ); */
    /* margin-right: 9px; */
    /* margin-left: -4px; */
    height: 120px;
    margin: 0 30px;
}


footer{
    float: left;
    width: 100%;
    /* max-width: 1000px; */
    /* margin-top: 254px; */
    /* background-image:linear-gradient(grey , red); */
}

 footer iframe{
    float: left;
     width: 50%;
     margin-top: 5px;
}
.newsletter{
    width: calc( (100% / 2) - 113px );
    float: left;
    padding: 200px 35px 0 50px;
    background: black;
    border-radius:3px;
    padding-top: 91px;
    padding-bottom: 27px;
    margin-top:5px;
    margin-left:8px;
    height: 184px;
 }
.newsletter legend {
    color:white;
}
.contact{
    width: 98%;
    float: left;
    padding: 127px 0 0 0;
    text-align: center;
    background: black;
    color:white;
    /* border-radius:22px; */
    /* border-top-left-radius: 22px; */
    /* border-bottom-left-radius: 22px; */
    padding-top: 5px;
    padding-bottom: 35px;
    margin-top: 6px;
    margin-left:0px;
}
    
.contact a{
    text-decoration: none;
    color:white;
}

fieldset{
    width: 20px;
    margin-left: 75px;
}
legend{
    margin-left:110px;
    
}
h2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
section .black {
    background-color: black;
    width: 1000px;
    height: 400px;
}